.fancyname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    .antemoji, .honeyemoji {
        font-size: 2.4rem;
    }
    .antname {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .honeyname {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}